/*All content CSS*/
body {
    margin: 0;
    font-size: 1.4em;
    font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue';
    background-color: rgb(238, 238, 238);
    font-weight: 100;
}

footer {
    /*background-color: purple;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.nav-link {
    margin: 0 10px 0 0;
    text-align: center;
    padding-top: .5em;
    text-decoration: none;
    color: black;
    transition: all .75s ease;
}

    .nav-link:hover {
        background-color: rgb(180, 180, 180);
    }


/*Header CSS*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    top: 0px;
    left:0;
    width: 100%;
    color: black;
    margin: 0px;
}

h1{
    margin: 0;
    display: inline;
    margin-right: auto;
}

.header-pic {
    background-image: url('./images/header.jpg');
    height: 420px;
}








/*About/content section CSS*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border-radius: 10px;
    padding: 4px;
    margin: 50px 0 0 0;
    max-width: 800px;
}

h2 {
    /*background-color: green;*/
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.welcome {
    /*background-color: yellow;*/
}

.capability {
    /*background-color: teal;*/
}





/*All Products view CSS*/
.products {
/*    background-color: tomato;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}

    .products img:hover {
        opacity: 0.6;
    }

img {
    width: 320px;
    margin: 40px 10px 0 10px;
    transition: all .75s ease;
    opacity: 0.95;
    background-color: black;
} 

.img-container {
    position: relative;
    width: 340px;
}

.pic-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    pointer-events: none;
}





/*Product page CSS*/

hr {
    width: 60px;
}

.p-title {
    margin: 100px 0 0 0;
    text-align: center;
}

.p-names {
    margin: 0 20px 0 20px;
    display: inline-block;
}

.p-text-section {
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.p-info {
    padding: 0 10px 0 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}






/*This section is for the ProductDetail page*/
.pd-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}










/*Section for the product modal viewer*/
/*
*, *::after, *::before {
    box-sizing: border-box;
}

.product-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 250px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
}

    .product-viewer.active {
        transform: translate(-50%, -50%) scale(1);
    }


.product-viewer-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

    .product-viewer-header .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .product-viewer-header .close-button {
        cursor: pointer;
        background-color: black;
        border: none;
        outline: none;
        border-radius: 50%;
        color: white;
        font-size: 1.25rem;
    }

.product-viewer-body {
    padding: 10px;
    height: 100%;
}

    .product-viewer-body div {
        padding:4px;
    }

    .product-viewer-body button {
        width: 100%;
        background-color: #555555;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        pointer-events: none;
    }
    
        #overlay.active {
            opacity: 1;
            pointer-events: all;
        }*/